@attribute [Route($"/{Routes.Copyright}")]

<div style="text-align: center;margin-top: 30vh">
<h3>Copyright</h3>
<p>
    This is a web app developed by <a href="https://www.karakoulak.com">Karakoulak Spyridon</a>.
    <br/>
    It is built with open source component library <a href="https://mudblazor.com/">MudBlazor</a> <br/>
    on top of Blazor Framework with C# and .Net 8.
</p>
</div>
@code {
    
}