@attribute [Route($"/{Routes.Index}")]

@inject NavigationManager navMan
<PageTitle>Index</PageTitle>
<div style="text-align: center;margin-top: 30vh">
    <h1>Welcome to Pretedom!</h1>
    <p>
        This application is designed to help you get prepared for tests you are going to take part to by helping you create and organize question flashcards. <br/>
        You can also export all questions you added in excel format and share them with anyone to import them and access your flashcards.
    </p>
    <MudButton Variant="Variant.Filled" Color="Color.Info" Size="Size.Large" Style="margin-top: 10px" OnClick="@(() => Click("test"))"> Get Started</MudButton>
</div>

@code
{
    private void Click(string name)
    {
        navMan.NavigateTo($"/{name}");
    }
}
